@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Staatliches', monospace;
}

body * {
  box-sizing: border-box;
  font-family: inherit;
}

label, select {
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

ul#navbar {
  top: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin: 1rem;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 20vh auto;
}

#landing h1 {
  margin: 0;
}

#navbar li {
  font-size: 1.25rem;
}

#navbar button {
  border: none;
  background: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.synth {
  width: 1000px;
  margin: 5vh auto;
  background: linear-gradient(rgba(167, 181, 193, 0.8), rgba(121, 121, 121, 0.7));
  border-radius: 1em;
  padding: 2em 1em .25em 1em;
  box-shadow: 0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 15px rgba(0,0,0,0.5)
}

.controls {
  flex-direction: row;
  justify-content: space-around;
}

.section {
  flex-direction: column;
}

input, select {
  margin: .5rem 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: 2px solid #555555;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000000;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  border: 1px solid grey;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

  background: transparent;
  border-color: transparent;
  color: transparent; */
}

ul.keyboard {
  list-style-type: none;
  position: relative;
  justify-content: center;
  height: 20rem;
  padding: 3em 1em 0;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, rgba(0,0,0,0.3), rgba(0,0,0,0));
  box-shadow: 0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

.white.key {
  height: 16em;
  width: 3em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom,#eee 0%,#fff 100%);
  z-index: 1;
}

.white.key:first-of-type(li) {
  border-radius: 5px 0 5px 5px;
}

.white.key:hover {
  background: linear-gradient(to bottom,#eee 0%,rgb(216, 213, 213) 100%);
}

.black.key {
  background: linear-gradient(45deg,#222 0%,#555 100%);
  width: 2em;
  height: 150px;
  margin: 0 0 0 -1em;
  z-index: 2;
  box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
}

.black.key:hover {
  background: linear-gradient(45deg,#222 0%,rgb(33, 32, 32) 100%);
}

.G, .A, .B, .D, .E {
  margin: 0 0 0 -1em;
}
