@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --mauve: rgb(92, 87, 126);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Staatliches', monospace;
}

body * {
  box-sizing: border-box;
  font-family: inherit;
}

#app {
  height: 90vh;
}

label, select {
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

ul#navbar {
  top: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin: 1rem;
  font-size: 1.25rem;
  color: var(--mauve);
}

#navbar a {
  text-decoration: none;
  color: var(--mauve);
}

#navbar a:hover {
  text-decoration: underline;
}

#navbar button {
  border: none;
  background: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  color: rgb(51, 49, 77);
}

#play {
  text-decoration: none;
  color: var(--mauve);
  border: 2px solid var(--mauve);
  border-radius: 10px;
  padding: .75rem 1rem;
  font-size: 2rem;
  position: relative;
  top: 5vh;
}

#play:hover {
  background: var(--mauve);
  color: white;
  transition: 0.3s linear;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
  margin: 8vh auto 0 auto;
}

#landing h1 {
  margin: 0;
}

.synth {
  width: 1000px;
  margin: 2vh auto;
  background: linear-gradient(rgba(125, 118, 172, 0.4), rgba(105, 114, 136, 0.4));
  border-radius: 1em;
  padding: 2em 1em .25em 1em;
  box-shadow: 0 0 50px rgba(105, 114, 136, 0.9) inset, 0 1px rgba(212,152,125,0.2) inset, 0 5px 10px rgba(0,0,0,0.5)
}

.controls {
  flex-direction: row;
  justify-content: space-around;
}

.section {
  flex-direction: column;
}

input, select {
  margin: .5rem 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: 2px solid #555555;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000000;
}

input[type=range]:focus,
select:focus {
  outline: none;
}

select {
  border-radius: 5px;
  border: 1px solid var(--mauve);
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  border: 1px solid grey;
}

#envelope input {
  margin: .2em 0;
}

ul.keyboard {
  list-style-type: none;
  position: relative;
  justify-content: center;
  height: 20rem;
  padding: 3em 1em 0;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, rgba(133, 136, 152, 0.4), rgba(133, 136, 152, 0.3));
  box-shadow: 0 0 50px rgba(19, 19, 19, 0.5) inset,0 1px rgba(125, 150, 212, 0.2) inset,0 5px 10px rgba(19, 20, 21, 0.5);
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

.white.key {
  height: 16em;
  width: 3em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom,#eee 0%,#fff 100%);
  z-index: 1;
}

.white.key:first-of-type(li) {
  border-radius: 5px 0 5px 5px;
}

.white.key:hover {
  background: linear-gradient(to bottom, #eee 0%,rgb(195, 196, 211) 100%);
}

.black.key {
  background: linear-gradient(45deg,#222 0%,#555 100%);
  width: 2em;
  height: 150px;
  margin: 0 0 0 -1em;
  z-index: 2;
  box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
}

.black.key:hover {
  background: linear-gradient(45deg, #222 0%, rgb(33, 32, 32) 100%);
}

.G, .A, .B, .D, .E {
  margin: 0 0 0 -1em;
}

#C, #B {
  border-radius: 5px;
}
